
body{
    background:url(../images/pexels-naim-benjelloun-2610756.jpg)no-repeat center ;
    background-size: cover;
}   
img{
    margin-left: 600px
}
button{
    font-size: 30px;
    border: solid 6px black;
    border-radius: 9px;
    background-color: transparent;
margin: 50px;
   
}
.btn1{

margin-left: 600px;
    
 
    
}
    
        
